div {
    background-color: #f1f1f1;
    height: 600px;
}

ul {
    background: Gray;
    padding: 2px;
  }
  
  ol li {
    background: #ffe5e5;
    padding: 5px;
    margin-left: 35px;
  }
  
  ul li {
    background: white;
    margin: 5px;
  }